body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    background: red;
    -webkit-transform: translateX(10px);
                -ms-transform: translateX(10px);
            transform: translateX(10px);
    border-radius: 50%;
}
