$break-small: 320px !default;
$break-large: 1024px !default;

// functions
@function fluidize($target, $context) {
    @return ($target / $context) * 100%;
}

// mixins
@mixin box-sizing($x: border-box) {
    -webkit-box-sizing: $x;
    -mox-box-sizing: $x;
    box-sizing: $x;
}

@mixin respond-to($media) {
    // phones
    @if $media == handhelds {
        @media only screen and (max-width: $break-small) { @content; }
    }
    // tablets
    @else if $media == medium-screens {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
    }
    // desktops
    @else if $media == wide-screens {
        @media only screen and (min-width: $break-large) { @content; }
    }
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'ecoicons';
    src: url("/fonts/ecoicons/ecoicons.eot");
    src: url("/fonts/ecoicons/ecoicons.eot?#iefix") format("embedded-opentype"), url("/fonts/ecoicons/ecoicons.woff") format("woff"), url("/fonts/ecoicons/ecoicons.ttf") format("truetype"), url("/fonts/ecoicons/ecoicons.svg#ecoicons") format("svg");
}

*, *:after, *::before {
    box-sizing: border-box;
}

$grids: 1 4 6 8 12;

/* Grid System */
.outline, .outline * {
    outline: 1px solid #F6A1A1;
}

.grid-container {
    width: 100%;
    max-width: 1200px; // limit for larger screens

    * {
        @include box-sizing(border-box);
    }
}
// generates col-x
@each $grid in $grids {
    .col-#{$grid} {
        float: left;
        min-height: 1px;
        width: fluidize(1, 12) * $grid;
        // gutter
        padding: 12px; // change to %
        background-color: #FFDCFC;
        
        // responsive grids
        @include respond-to(handhelds) { 
            @if $grid == 1 {
                width: 50%;
            } @else {
                width: 100%;
            }
        }

        @include respond-to(medium-screens) {
            @if $grid == 1 {
                width: fluidize(1, 12) * $grid * 2;

                .row &:last-of-type {
                    width: 100%;
                }

            } @else {
                width: 100%;
            }
            
            
        }

        > p {
            background-color: #FFC2C2;
            padding: 0;
            margin: 0;
            text-align: center;
            color: white;
        }
    }
}

/* clearfix hack */
.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}
